<div style="background: rgba(0, 0, 0, 0.1); padding: 8px">
  <p>
    欢迎参加<strong><%=meeting.name%></strong>
    (<%if(meeting.startDate == meeting.endDate) {%>
      <span><%=meeting.startDate%></span>
    <%} else {%>
        <span><%=meeting.startDate%> - <%=meeting.endDate%></span>
    <%}%>)
  </p>
  <div>
      <%-meeting.description%>
  </div>
  <strong>
    注意事项
  </strong>
  <div style="margin-left: 8px">
    <%-meeting.detail%>
  </div>
  <div style="margin: 16px 0">
    <a href="<%=domain%>/meeting/<%=meeting._id%>" style="color: white; margin: 0 auto; background: black; padding: 8px; text-decoration: none; font-size: 18px; font-weight: 300">了解更多</a>
  </div>
<div>
