<div style="background: rgba(0, 0, 0, 0.1); padding: 8px">
  <p>
    欢迎参加<strong><%=meeting.name%></strong>
    (<%if(meeting.startDate == meeting.endDate) {%>
      <span><%=meeting.startDate%></span>
    <%} else {%>
        <span><%=meeting.startDate%> - <%=meeting.endDate%></span>
    <%}%>)
  </p>
  <div>
      <%-meeting.description%>
  </div>
  <strong>
    注意事项
  </strong>
  <div style="margin-left: 8px">
    <%-meeting.detail%>
  </div>
<div>
